/*
button{
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: 2px solid orange;
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    background: white;
    color: orange;
    border: 2px solid orange;
}

a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: 2px solid orange;
    font-size: 18px;
}
a:hover{
    background: white;
    color: orange;
    border: 2px solid orange;
}
*/

h1 {
    position: relative;
    color: red;
}

.main {
    height: 700px;
    width: 100%;
    position: relative;
}

img {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
}

.box {
    width: 22%;
    height: 300px;
    background-color: blue;
    margin-right: 2%;
    float: left;
    transition-duration: 1s;
}

.box:hover{
    box-shadow: -5px 8px 8px 3px gray;
}

@media only screen and (max-width: 900px) {
    .box {
        width: 46%;
        height: 300px;
        background-color: orange;
        margin-right: 2%;
        float: left;
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 600px) {
    .box {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 2%;
        background-color: yellow;
    }
}






