.container{
    width:1000px;
    height: 700px;
   margin:auto;
}

.top{
    width:900px;
    height: 500px;
   padding:20px 50px;
   
}

.left{
    width:500px;
    height:300px;
    padding: 20px;
    float:left;
}

.right{
    width:300px;
    height:300px;
    padding: 20px;
    float: left;
    font: lightgreen;
}

.bottom{
    width:1000px;
    height:100px;
   
   
    
}

input[type=text]{
    width: 300px;
    height: 30px;
    border: 2px solid lightgreen;
    font-size: 20px;
    padding-left: 20px;
    margin: 10px;
}

input[type=email]{
    width: 300px;
    height: 30px;
    border: 2px solid lightgreen;
    font-size: 20px;
    padding-left: 20px;
    margin: 10px;
}

textarea{
    width: 300px;
    height: 100px;
    border: 2px solid lightgreen;
    font-size: 20px;
    padding-left: 20px;
    margin: 10px;
}

input[type=radio]{
    font-size: 20px;
   
}

input[type=checkbox]{
    font-size: 20px;
    
}

button[type=submit]{
    width: 300px;
    height: 30px;
    background-color: lightgreen;
    font-size: 20px;
    font: white;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.